.header {

    background-image: url('/images/back_fon.jpg');
    background-position: center;
    min-height: 150px;
    font-family: 'Roboto', sans-serif;
    /*border-bottom: 2px #030394 solid;*/

}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__logo {

    width: 80px;
    height: 80px;

}

.header__title {
    color: #030394;
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 20px;
}

.header__nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3px;
}

.header__nav li {
    margin: 0 18px;
    list-style-type: none;
    padding: 5px;

}

.header__nav a {
    text-decoration: none;
    color: #030394;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.header__link {

    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}

.header__link:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: #030394; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.header__link:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: #030394; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}


.law_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#law h2 {
    text-align: center;
    color: #030394;
    font-family: 'Montserrat', sans-serif;
}

.law_in_context_time img {
    max-width: 100%; /* Make images responsive */
    min-height: 380px;
    padding: 5px;
}

.law_in_context_time p {
    max-width: 500px;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

@media only screen and (min-width: 768px) {
    .law_in_context_time {
        width: 40%; /* Two images per row on larger screens */
        padding: 5px;
    }
}



#faces_of_victory p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


#gallery_glorious_names h2{
    text-align: center;
    color: #030394;
    font-family: 'Montserrat', sans-serif;
}

#gallery_glorious_names .wrapper {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}

#gallery_glorious_names img {
    width: 230px;
    height: 280px;
    padding: 10px;
}

#gallery_glorious_names p {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-left: 10px;
}

#gallery_glorious_names a {
    color: #030394;
}



#gallery_SVO h2{
    text-align: center;
    color: #428539;
    font-family: 'Montserrat', sans-serif;
}

#gallery_SVO .wrapper {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}

#gallery_SVO img {
    width: 250px;
    height: 300px;
    padding: 10px;
}

#gallery_SVO p {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-left: 10px;
}

#memorialBook a {
    color: #030394;
}

#memorialBook h2{
    text-align: center;
    color: #430052;
    font-family: 'Montserrat', sans-serif;
}

#memorialBook .wrapper {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}

#memorialBook img {
    width: 230px;
    height: 280px;
    padding: 10px;
}

#memorialBook p {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-left: 10px;
}

#memorialBook a {
    color: #030394;
}

#insert_news {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
    max-width: 800px; /* Set a maximum width for better readability on larger screens */
    margin: 0 auto; /* Center the form on the page */
}

#insert_news h2 {
    color: #030394;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#insert_news input,
#insert_news textarea,
#insert_news select {
    width: 60%; /* Make inputs and textarea take full width */
    padding: 10px;
    box-sizing: border-box; /* Include padding in the width */
    margin-bottom: 10px;
}

#insert_news input[type="submit"] {
    width: auto; /* Reset width for submit button */
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    #insert_news input,
    #insert_news textarea,
    #insert_news select {
        width: 100%;
    }
}

.footer {
    min-height: 100px;
    background-image: url('/images/back_fon.jpg');
    background-position: center;
}

.footer .contacts h5 {
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

.contacts_logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.contacts_logo a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.contacts_logo p {
    padding-left: 15px;
}

.vk_logo {
    height: 35px;

}



/* news */
#news {
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

#news h1 {
    text-align: center;
    color: #0466c8;
}

.news-card {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.news-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
}

.news-card-content {
    padding: 20px;
}

.news-card-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.news-card-date {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.news-card-text {
            font-size: 16px;
            color: #555;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* Ограничение числа строк */
            -webkit-box-orient: vertical;
}

.news-card-text img {
    max-width: 400px;
}

@media only screen and (max-width: 600px) {
    .news-card {
        border-radius: 0;
    }
}

#challengesNewAge {
    background-color: #e3f2fd;
}

#challengesNewAge .title
{
    margin: 0px;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #030394;
    text-align: center;
}

.about_faculty {
    background-color: #0466c8;
    padding: 15px;
    border-radius: 20px;
    margin-top: 20px;
}

.about_faculty .subtitle {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    font-size: 23px;

    color: white;
}

.about_faculty .description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    margin-top: 10px;
    line-height: 130%;
    padding: 0px;
}


.departments {
    background-color: #0466c8;
    padding: 15px;
    border-radius: 20px;
    margin-top: 30px;
}

.departments .subtitle {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 23px;
    margin: 0px;
    padding: 0px;
}

.departments .description {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-bottom: 5px;
}

.departments  li{
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-left: 30px;
    line-height: 150%;
}

.science {
    background-color: #0466c8;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    margin-top: 30px;
    border-radius: 20px;
}

.science .subtitle {
    font-size: 23px;
    margin: 0;
    padding: 0;
}

.science .wrapper {
    display: flex;
    flex-wrap: wrap;


    flex-direction: row;
    padding: 20px;
}
.image {
    flex: 1;
    max-width: 15%;
}

.image img{

    max-width: 100%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.text {
    flex: 1;
    max-width: 100%;

    padding: 5px;

}

.text p {
    margin: 0px;
}

@media (max-width: 768px) {
    .science .wrapper {
        flex-direction: column;
    }

    .image,
    .text {
        margin-right: 0;
    }

	.image
	{
		max-width: 40%
	}
}


.science .directions .subtitle {
    font-size: 18px;
    padding-left: 17px;
    padding-top: 20px;
}

.science .directions .directions_description {
    padding-left: 17px;
    line-height: 150%;
}

.students_science .subtitle {
    font-size: 18px;
    padding-left: 17px;
}

.students_science_description {
    padding-left: 17px;
    line-height: 150%;
}

.dissertation_council {
    background-color: #0466c8;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 15px;
    margin-top: 30px;
    border-radius: 20px;
}

.dissertation_council-title {
    font-size: 23px;
    color: white;
    margin: 0px;
    padding: 0px;
}

.scientific_center {
    background-color: #0466c8;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 15px;
    margin-top: 30px;
    border-radius: 20px;
}

.scientific_center-title {
    font-size: 23px;
    color: white;
    margin: 0px;
    padding: 0px;
}

.educational_work {
    background-color: #0466c8;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 15px;
    margin-top: 30px;
    border-radius: 20px;
}

.educational_work-title {
    font-size: 23px;
    color: white;
    margin: 0px;
    padding: 0px;
}

.cards {
    background-color: #0466c8;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 15px;
    margin-top: 30px;
    border-radius: 20px;
}

.card-title {
    font-size: 23px;
    color: white;
    margin: 0px;
    padding: 0px;
}





